<div id ="backRegImg"></div>
<div class = "bgCoverBlack"></div>
<h2>user account is being created!</h2>
<h3>check your email!</h3>
<p style="color: rgb(228, 123, 123)">click <a href="/" style="color: rgb(236, 120, 140)">Go back home</a></p>