<div id ="backRegImg"></div>
<div class = "bgCoverBlack"></div>
<div id = "register">
  <div class = "container" id="body">
    <form method="POST" method="/messages">
      <div class="row">
        <div class="col">
           <img class = "Reglogo" src="eb5eb120-b01b-4f60-b96c-9c83232d5529_200x200-2.png">
        </div>
        <div class="w-100"></div>
        <div class="col">
           <h3 style="margin: 0 0 10px 0; font-family: 'Cabin', sans-serif !important;">Create your account</h3>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <input type="text" name="email" id="email" placeholder="email address">
            <img id="emailImg">
        </div>
        <div class="w-100"></div>
        <div class="col">
            <input type="text" placeholder="first name" id = "fname"name="fname">
            <img id="nameImg">
        </div>
        <div class="w-100"></div>
        <div class="col">
            <input type="text" placeholder="last name" id = "lname"name="lname">
            <img id="nameImg">
        </div>
        <div class="w-100"></div>
        <div class="col">
            <input type="password" placeholder="create a password" id = "password"name="password">
            <img id="passwordImg">
        </div>
        <div class="w-100"></div>
        <div style="font-family: 'Cabin', sans-serif !important;" class="col">
            <h4 style= "margin: 20px 0 10px 0;">Birthday</h4>
            <p>To sign up, you need to be at least 18.<br> Other people who use BOOKIM won’t see your birthday.</p>
        </div>
        <div class="w-100"></div>
        <div style="font-family: 'Cabin', sans-serif !important;" class = "col">
            <select  id = "year" class="selectpicker">
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
            </select>
            <select id = "month" class="selectpicker">
                <option>January</option>
                <option>Febuary</option>
                <option>March</option>
            </select>
            <select id = "date" class="selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <p style="font-family: 'Cabin', sans-serif !important;">We’ll send you marketing promotions, special offers, inspiration, and policy updates via email.</p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <input id="suubmit" type="submit" value="Sign up" name="submit">
        </div>
        <div class="w-100"></div>
        <div class="col">
            <input type="checkbox" name="check"id="check">
        </div>
        <div class="w-100"></div>
        <div class="col">
            <label for="check" style="font-family: 'Cabin', sans-serif !important;">I don’t want to receive marketing messages from BOOKIM.<br> I can also opt out of receiving these at any time in my account settings or via the link in the message.
            </label>
        </div>
        </div>
      </div>
    </form>
  </div>

