<div id ="backRegImg"></div>
<div class = "bgCoverBlack"></div>
<div id = "roomBody">
    <div id = "roomMain" class = 'container'>
        <div id = "intro">
            <h2>BOOKIM places to stay</h2>
            <h4>A selection of places to stay verified for quality and design</h4>
            <div id = "introImgDiv"><img class="img-fluid" src="video/11368483903_7c89d81712_b.png"></div>
        </div>
        <div id="roomCol" class = "container-fluid">
            <h2>Top-rated places to stay</h2>
            <h4>Explore some of the best-reviewed stays in the world</h4>
            <div class="row">
                <div class="col-sm">
                    <div class = "row">
                        <div class="col-sm">
                            <div class = "roomImg"><img class="img-thumbnail" src="https://cdn.pixabay.com/photo/2014/10/16/08/39/bedroom-490779_960_720.jpg"></div>
                            <p>consectetur</p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>Lorem ipsum dolor s</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>
                        </div>
                        <div class="col-sm">
                            <div class = "roomImg"><img class="img-thumbnail" src="https://cdn.pixabay.com/photo/2016/03/28/09/34/bedroom-1285156_960_720.jpg"></div>
                            <p>gravida</p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>fringilla turpis in</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>                                       
                        </div>
                    </div>
                </div>
                <div class = "col-sm">
                    <div class = "row">
                        <div class="col-sm">
                            <div class = "roomImg"><img class="img-thumbnail" src="video/ceiling-clean-contemporary-1457842.jpg"></div>  
                            <p>rhoncus</p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>Lorem turpis dolor s</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>              
                        </div>
                        <div class="col-sm">
                            <div class = "roomImg"><img class="img-thumbnail" src="https://live.staticflickr.com/3598/3312117967_1c61babc4b_z.jpg"></div>                    
                            <p>turpis</p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>Donec sed do</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class ="col-sm">
                    <div class = "row">
                        <div class="col-sm">
                            <div class = "roomImg"><img class="img-thumbnail" src="https://cdn.pixabay.com/photo/2014/10/16/08/39/bedroom-490779_960_720.jpg"></div>
                            <p>onsectetur nis</p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>pretium rhoncus</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>
                        </div>
                        <div class="col-sm">
                            <div class = "roomImg"><img class= "img-thumbnail" src="https://cdn.pixabay.com/photo/2017/04/28/22/14/room-2269591_960_720.jpg"></div>
                            <p> mollis urna e </p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>c luctus urna ut</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>                  
                        </div>  
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <div class = "roomImg"><img class="img-thumbnail" src="https://cdn.pixabay.com/photo/2018/10/28/12/44/interior-3778708_960_720.jpg"></div>
                            <p>bibendum </p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>vestibulum rutru</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>                  
                        </div>
                        <div class="col-sm">
                            <div class = "roomImg"><img class="img-thumbnail" src="https://t1.daumcdn.net/cfile/tistory/99921F465D7836751B"></div>
                            <p>consectetur </p>
                            <h4>Entire house - 2 beds</h4>
                            <h4>esent bibendum qu</h4>
                            <h4><strong>$101 CAD</strong>/night</h4>                 
                        </div> 
                    </div>
                </div>               
            </div>            
        </div>
    </div>
</div>