    <div id ="home">
        <div class="inputContainer">
            <h1 style="font-family: 'Cabin', sans-serif !important;">Explore!</h1>
            <h2 style="font-family: 'Cabin', sans-serif !important;">Your amazing city</h2>
            <p style="font-family: 'Cabin', sans-serif !important;">Find great places to stay, eat, shop or visit from local experts</p>
            <form name = "home" method="POST" action="/messages">
                <fieldset>
                    <div class="firstInput">
                        <p><input type="text" class="rounded-left" placeholder="Ex: food,service,hotel" id="searchEngine" name="searchEngine"/></p>           
                    </div>
                    <br>
                    <div class="checkDate">
                        <p style="font-family: 'Cabin', sans-serif !important;">Check in date<br><input type="date" class="rounded-left" name="checkin" id="checkin"/></p>
                        <p style="font-family: 'Cabin', sans-serif !important;">Check out date<br><input type="date" class="rounded-right" name="checkout" id="checkout"/></p>
                    </div>
                    <div id = "guestNum">
                        <p style="font-family: 'Cabin', sans-serif !important;margin:0;">Guests<br><input type = "button" value="How many guests?" id = "guest" onclick="guestButton()"></p>
                        <div id ="guestDrop" class = "row">
                            <div id = "aDrop" class="input-group mb-3">
                                <input type="number" name = "adultNo" step="1" min="0" max="5" class="form-control" placeholder="The number of Adults" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Adults</span>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div id = "aDrop" class="input-group mb-3">
                                <input type="number" name = "childNo" step="1" min="0" max="5" class="form-control" placeholder="The number of Children" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Children</span>
                                </div>
                            </div>                           
                        </div>
                        <div class="dropdown">
                            <p style="font-family: 'Cabin', sans-serif !important; margin:0;">Where<br><input type="button" value = "Search by City!" onclick="myFunction()" class="dropbtn"></p>
                            <div id="myDropdown" class="dropdown-content">
                                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                <a href="/room/roomByCity/TORONTO">Toronto</a>
                                <a href="/room/roomByCity/TOKYO">Tokyo</a>
                                <a href="/room/roomByCity/SEOUL">Seoul</a>
                            </div>
                        </div> 
                    </div>
                    <div class="where">
                    </div>
                    <input style="font-family: 'Cabin', sans-serif !important; margin: 10px 0 0 0;" type="submit" class="rounded" value="Search" name="search" id="serach"/>
                </fieldset>
            </form>  
        </div>  
        <div class="bgVideo">
            <video class = "background" autoplay="autoplay" loop="loop">
            <source src="video/back.mp4" type="video/mp4">
            <source src="video/back.ogg" type="video/ogg">
            <source src="video/back.webm" type="video/webm">
            </video>            
            <div class="bgBlack"></div>           
        </div> 
        <div style="z-index: 1;" class="container">
            <section class = "main">
                <br><br><br>
                <div id ="promotion">
                    <h3 style="font-family: 'Cabin', sans-serif !important;">What's so special about BOOKIM?</h3>
                    <p  style="color: black !important; font-family: 'Cabin', sans-serif !important;">
                    Here are many promotions that we can give you!</p>
                    <div class = "promotionBg"></div>
                    <div class = "promotionBgBlack"></div>
                    <div class="row">
                        <div class="col-sm-3"><img class="im1" src="https://live.staticflickr.com/7863/46301056694_23dfa961fc_b.jpg"><div id="asia" class="proMessage">Specializing in Asia Trip</div></div>
                        <div class="col-sm-5"><img class="im2" src="https://live.staticflickr.com/7715/16651377884_5826810b6b_b.jpg"><div id ="price" class="proMessage">Best Price Ever Experienced</div></div>
                        <div class="col-sm-4"><img class="im3" src="https://newsroom.aaa.com/wp-content/uploads/2018/03/family-vacation-2018-i817359058.jpg"><div id="family" class="proMessage">Places For Family Tourists</div></div>
                        <div class="w-100"></div>
                        <div class="col-sm-4"><img class="im4" src="https://351be1fd240366bf2eb5-8a886d762570dee9ec4262596df361b5.ssl.cf1.rackcdn.com/wp-content/uploads/HERO_Option3_colorful_hires_6112.jpg"><div id ="food" class="proMessage">Local Foods</div></div>
                        <div class="col-sm-3"><img class="im5" src="http://stevensheehy.com/wp-content/uploads/2016/04/south-korea-travel-photographers-blogger-steven-sheehy-5.jpg"><div id ="tradition" class="proMessage">Traditional Styles</div></div>
                        <div class="col-sm-5"><img class="im6" src="https://thefriendlyhost.nl/app/uploads/2017/04/pexels-photo-29410_lichter-600x600.jpg"><div id="cozy" class="proMessage">Cozy places</div></div>
                    </div>
                </div>
                <div id = "information">
                    <div class = "content">
                        <h3>What's an experience?</h3>
                        <p>It’s an activity that goes beyond the typical tour or class, designed and led by locals all over the world. <br>Show off your city, craft, cause, or culture by hosting an experience.</p>
                    </div>
                    <iframe src="https://www.youtube.com/embed/ZVcJVmyjhyw?controls=0&autoplay=1&loop=1&mute=1&end=110&playlist=ZVcJVmyjhyw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                    <div class = "ifBlack"></div>
                </div>
                <div id="more">
                    <div class="row">
                        <div class="col">
                            <h3 style="font-family: 'Cabin', sans-serif !important;">Are you ready to be excited?</h3>
                            <p  style="color: black !important; font-family: 'Cabin', sans-serif !important;">
                            Multi-day trip led by local experts-activities, meals and stays included</p>
                        </div>
                        <img src="">
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="https://cdn.cheapoguides.com/wp-content/uploads/sites/2/2018/08/IBAiP1122146.jpg">
                            <div style="font-family: 'Cabin', sans-serif !important; font-size: 14pt;" style="overflow-wrap: break-word;">
                                  Local Restaurant
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="https://c1.staticflickr.com/6/5586/15308319132_ba80423f0c_b.jpg">
                            <div style="font-family: 'Cabin', sans-serif !important; font-size: 14pt;" style="overflow-wrap: break-word;">
                                  Experience
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-sm">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Adventure-clouds-environment-672358.jpg">
                            <div style="font-family: 'Cabin', sans-serif !important; font-size: 14pt;"style="overflow-wrap: break-word;">
                                  Adventure
                            </div>                      
                        </div>
                        <div class="col-sm">
                            <img src="http://c1.peakpx.com/wallpaper/861/439/652/rendering-interior-hotel-wallpaper-preview.jpg">
                            <div style="font-family: 'Cabin', sans-serif !important; font-size: 14pt;" style="overflow-wrap: break-word;">
                                  Stay
                            </div>                    
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>